{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>서비스명 | {% block title %}{% endblock %}</title>

    {% include 'style.html' %}
  </head>

  <!-- html body 시작 -->
  <body>
    <div class="head-menu">
      <div>
        <button class="title">Fravel</button>
      </div>
      <div class="menu-btn">
        <a href="{% url 'posts:aboutus' %}"
          ><button class="btn">About us</button></a
        >
        <a href="{% url 'posts:community' %}"
          ><button class="btn">Community</button></a
        >
        <a href="{% url 'posts:womenzone' %}"
          ><button class="btn">Women-zone</button></a
        >
        <a href="{% url 'posts:mypage' %}"
          ><button class="btn">My page</button></a
        >
      </div>
    </div>

    {% block content %}
    <!-- 페이지별 상세 -->
    {% endblock %}
  </body>
</html>
