
{% extends 'base.html' %}
<div class="mypage-content">
    <!--Like-->
    <div style="margin-bottom: 50px;">
        <div style="display: flex; justify-content: space-between;">
            <h1>Like</h1>
        </div>
        <hr>
        <div class="mytrip-content-card">
            <button class="post-btn">
                <div class="container-mytrip">
                    <div>
                        <img src="img/like1.png" class="trip-img">
                    </div>
                    <div>
                        <p style="color: #77A5FF; font-weight: bold; font-size: 17px; padding-right: 10px;">맛집탐방 그 자체였던 경주여행</p>
                        <p style="color: #ACACAC; font-weight: bold; font-size: 14px;">23.07.10 - 23.07.12</p>
                    </div>
                </div>
            </button>

            <button class="post-btn">
                <div class="container-mytrip">
                    <div>
                        <img src="img/like2.png" class="trip-img">
                    </div>
                    <div>
                        <p style="color: #77A5FF; font-weight: bold; font-size: 17px; padding-right: 10px;">경주 인생샷 꿀스팟 공유</p>
                        <p style="color: #ACACAC; font-weight: bold; font-size: 14px;">23.03.14 - 23.03.15</p>
                    </div>
                </div>
            </button>

        </div>
    </div>
</div>
{% endblock %}
