{% extends 'base.html' %}
{% load static %}
{% block title %}마이페이지{% endblock %}

{% block content %}

<style>


    /*상단 메뉴부분*/
        body {
            margin: 0px;
            background-color: #FFF9F1;
        }

        button{
            border:none;
            background-color: white;

        }

        .head-menu{
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            padding-right: 30px;
            padding-left: 30px;
            padding-bottom: 15px;
            background-color: white;
        }

        /*서비스 로고*/
        .title{
            color:#77A5FF;
            font-weight: bold;
            font-size: 23px;
        }

        /*서비스 기능 버튼*/
        .menu-btn{
            justify-content: flex-end;
        }

        .btn {
            color:#77A5FF;
            font-weight: bold;
            font-size: 19px;
            margin-left: 20px;
        }

        .btn:hover {
            color: #3a68c3;

        }



        /* mapage 부분 시작 */

        /* Me, My Trip, Like 타이틀 */
        h1 {
            color: #1A73E8;
        }

        /*h1 옆에 버튼들*/
        .sub-btn {
            background-color: transparent;
            color: #ACACAC;
            font-weight: bold;
            font-size: 17px;
            position: relative;
            top:20px;
        }

        .sub-btn:hover {
            color: #767676;
        }

        /* 구분선 스타일 */
        hr {
            width: 600px;
            border: none;
            background-color: #E4E4E4;
            height: 1px;
            margin-bottom: 30px;
        }


        /* 전체 콘텐츠 - 가운데 정렬하려고 만든 div */
        .mypage-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* Me 부분 */

        .container-me {
            width: 600px;
            height: 150px;
            background-color: white;
            border-radius: 20px;
            box-shadow: 4px 4px 5px rgb(159, 159, 159);
            display: flex;
            padding-bottom: 15px;
        }

        .profile-img {
            border-radius: 100%;
            width: 125px;
            height: 125px;
            padding: 20px;
            margin-left: 10px;
        }



        /* My Trip + Like 부분*/
        .trip-btn {
            border-radius: 20px;
            background-color:#77A5FF;
            color: white;
            font-weight: bold;
        }


        .mytrip-content-card {
            display: flex;
            flex-direction: row;
        }

        .container-mytrip {
            width: 290px;
            height: 140px;
            background-color: white;
            border-radius: 20px;
            box-shadow: 4px 4px 5px rgb(159, 159, 159);
            margin-right: 10px;
            margin-left: 10px;
            display: flex;
        }

        .trip-img {
            border-radius: 10%;
            width: 110px;
            height: 110px;
            padding: 15px;
        }


        .post-btn {
            background-color: transparent;
        }
    </style>

    <!-- 전체 콘텐츠 부분 -->
    <div class="mypage-content">
        <!--Me-->
        <div style="margin-top: 50px; margin-bottom: 50px;">
            <div style="display: flex; justify-content: space-between;">
                <h1>Me</h1>
                <button class="sub-btn"><a href="{% url 'logout' %}">Logout</a></button>
            </div>
            <hr>
            <div class="container-me">
                <img src="http://via.placeholder.com/64x64" class="profile-img">
                <div style="margin-left: 20px;">
                    <p style="color: #77A5FF; font-weight: bold; font-size: 25px; margin-bottom: 10px;" >{{ user.name }}</p>
                    <p style="color: #ACACAC; font-weight: bold">여행을 좋아하는 대학생</p>
                    <div>
                        <button class="trip-btn">군산</button>
                        <button class="trip-btn">여수</button>
                        <button class="trip-btn">경주</button>
                    </div>
                </div>
            </div>
        </div>

        <!--My Trip-->
        <div style="margin-bottom: 50px;">
            <div style="display: flex; justify-content: space-between;">
                <h1>My trip</h1>
                <button class="sub-btn" id="gotomytrip">더보기</button>
            </div>
            <hr>
            <div class="mytrip-content-card">
                <button class="post-btn">
                    <div class="container-mytrip">
                        <div>
                            <img src="{% static 'img/trip1.png' %}" class="trip-img">
                        </div>
                        <div>
                            <p style="color: #77A5FF; font-weight: bold; font-size: 17px; ">7월의 경주여행</p>
                            <p style="color: #ACACAC; font-weight: bold; font-size: 14px;">23.07.16 - 23.07.18</p>
                        </div>
                    </div>
                </button>

                <button class="post-btn">
                    <div class="container-mytrip">
                        <div>
                            <img src="{% static 'img/trip2.png' %}" class="trip-img"> 
                        </div>
                        <div>
                            <p style="color: #77A5FF; font-weight: bold; font-size: 17px; padding-right: 10px;">여~수밤바다!</p>
                            <p style="color: #ACACAC; font-weight: bold; font-size: 14px; padding-right: 10px;">23.02.25 - 23.02.26</p>
                        </div>
                    </div>
                </button>
            </div>
        </div>

        <!--Like-->
        <div style="margin-bottom: 100px;">
            <div style="display: flex; justify-content: space-between;">
                <h1>Like</h1>
                <button class="sub-btn" id="gotolike">더보기</button>
            </div>
            <hr>
            <div class="mytrip-content-card">
                <button class="post-btn">
                    <div class="container-mytrip">
                        <div>
                            <img src="{% static 'img/like1.png' %}" class="trip-img">
                        </div>
                        <div>
                            <p style="color: #77A5FF; font-weight: bold; font-size: 17px; padding-right: 10px;">맛집탐방 그 자체였던 경주여행</p>
                            <p style="color: #ACACAC; font-weight: bold; font-size: 14px;">23.07.10 - 23.07.12</p>
                        </div>
                    </div>
                </button>

                <button class="post-btn">
                    <div class="container-mytrip">
                        <div>
                            <img src="{% static 'img/like2.png' %}" class="trip-img">
                        </div>
                        <div>
                            <p style="color: #77A5FF; font-weight: bold; font-size: 17px; padding-right: 10px;">경주 인생샷 꿀스팟 공유</p>
                            <p style="color: #ACACAC; font-weight: bold; font-size: 14px;">23.03.14 - 23.03.15</p>
                        </div>
                    </div>
                </button>

            </div>
        </div>
        
    </div>
</body>

<script>
    const GotomyTrip = document.getElementById("gotomytrip");
    const GotoLike = document.getElementById("gotolike");
    const GotoMain = document.getElementById("gotomain");
    const GotoPostBtn = document.querySelectorAll(".post-btn");

    GotomyTrip.addEventListener("click", function() {
        window.location.href = "mytrip.html";
    })

    GotoLike.addEventListener("click", function(){
        window.location.href = "like.html";
    })

    GotoMain.addEventListener("click", function() {
        window.location.href = "{% url 'main' %}";
    })

    GotoPostBtn.forEach(GotoPost => {
        GotoPost.addEventListener("click", function() {
        window.location.href = "mytrip_post.html";
        });
    });


</script>
{% endblock %}